#about .cards .card {
  box-shadow: 0px 0px 40px 0px rgba(36, 42, 86, 0.15);
}

.choose-image {
  background-image: url("https://websitedemos.net/agency-02/wp-content/uploads/sites/30/2020/01/why-choose-us.jpg");
}
