header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  position: fixed;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.25);
}

header .container * {
  font-family: "Karla", sans-serif;
  color: white;
}

header .left {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
}

header .right {
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: center;
}

header .left img {
  height: 42px;
}

header .container {
  height: 70px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

nav {
  height: 100%;
  display: flex;
}

nav ul {
  display: flex;
  align-items: center;
  height: 100%;
}

nav ul li {
  height: 100%;
  padding: 0 1em;
  display: flex;
}

nav ul li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  header ul {
    display: none;
  }

  header .container {
    height: 50px;
    padding: 0 1em;
  }

  header .left img {
    height: 28px;
  }
}
